body {
  background-color: rgb(106, 221, 246);
  background-image: url("../images/space.jpg");
}

h1 {
  font-size: 120px;
  color: rgb(152, 255, 51);
  font-family: courier;
  text-align: center;
}

textarea{
  resize: none;
}

.centrado {
  margin: 30px auto;
  display: block;
}

#titulo {
  width: 250px;
  height: 350px;
  border-radius: 50%;
}

#titulobot {
  width: 600px;
  height: 200px;
  border-radius: 10%;
}

#chat_borde {
  width: 500px;
  height: 500px;
  background: rgb(46, 202, 236);
  border-radius: 10%;
  padding: 20px;
  margin: 30px auto;
}

#chat_box {
  width: 700px;
  height: 350px;
  background: rgb(255, 255, 255);
  padding: 0px 20px;
  margin: 20px auto;
  font-size: 20px;
  border-radius: 5%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#chat_bot {
  background: rgb(255, 255, 255);
}

input{
    width: 80px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#chat{
    width: 20%;
}
#chat:focus {
    width: 40%;
}

#boton {
  height: 40px;
  width: 300px;
  font-size: 25px;
  color: white;
  background: black;
  border-color: rgb(0, 135, 224);
  border-radius: 10%;
  cursor: pointer;
}

#imagen {
  width: 600px;
  height: 300px;
}
